@page
@model IndexModel
@{
    ViewData["Title"] = "Favourite song";
}

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=lOEvVpilFMO1fbL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello World</h1>
    <p>The best song in history.</p>
</div>
